
<div style="background-color: #f4f4f4; padding: 20px;">
  <div style="background-color: #ffffff; margin: 50px auto 0 auto; max-width: 600px; padding: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
    <h1 style="margin-top: 30px;">Hi <%= @user.user_name %></h1>
    <p>
      You recently requested to reset your password for your account. Use the token below to reset it. This password reset token is only valid for the next 2 hours.
    </p>
    <hr style="height:1px;border:none;color:#f4f4f4;background-color:#f4f4f4;">
    <p style="font-weight: bold; font-size: 18px; text-align: center;">
      <%= @user.reset_password_token %>
    </p>
    <hr style="height:1px;border:none;color:#f4f4f4;background-color:#f4f4f4;">
    <p>Thanks,</p>
    <p style="margin-bottom: 20px;">StylePos Team</p>
  </div>
</div>
